{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Gestor de Imagens">
    <meta name="author" content="Fabiano F. Nunes">

    <title>Gestor de Imagens - Zigo Educação</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'gestorimagens/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'gestorimagens/css/3-col-portfolio.css' %}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Zigo Educação</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="{% url 'gestorimagens:catalogo' %}">Catálog de Imagens</a>
                    </li>
                    <li>
                        <a href="{% url 'gestorimagens:cadastro_imagem' %}">Inserir Imagem</a>
                    </li>
                    <li>
                        <a href="{% url 'gestorimagens:cadastro_categorias' %}">Cadastrar Categoria</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'gestorimagens:logout' %}">Sair</a></li>
                    {% else %}
                    <li><a href="{% url 'gestorimagens:login' %}">Entrar</a></li>
                    {% endif %}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Page Header -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Zigo Educação
                    <small>- Gestor de Imagens</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        {% block conteudo %}
        {% endblock %}

        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Zigo Educação {{ dataatual|date:"Y" }}</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>
    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="{% static 'gestorimagens/js/jquery.js' %}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'gestorimagens/js/bootstrap.min.js' %}"></script>
</body>

</html>
