{% extends "gestorimagens/base.html" %}
{% load staticfiles %}

{% block conteudo %}

{% if success %}
<div class="row">
    <div class="alert alert-success">Categoria Cadastrada com Sucesso</div>
</div>
{% endif %}

<!-- Footer -->
        <section>
            <form method="post" class="form-horizontal">
                {% csrf_token %}
                {{ form.non_field_errors }}
                    {% for field in form %}
                        <div class="form-group">
                            {{ field.label_tag }}
                            {{ field }}
                            {{ field.errors }}
                        </div>
                    {% endfor %}
                <div class="row text-center">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Cadastrar categoria</button>
                    </div>
                </div>
            </form>
        </section>
{% endblock conteudo %}
