{% extends "gestorimagens/base.html" %}
{% load staticfiles %}

{% block conteudo %}
<section>
    <div class="row">
        <div class=col-md-12>
            {% if success %}
            <div class="row">
                <div class="alert alert-success">Imagem Salva com Sucesso</div>
            </div>
            {% endif %}
            <div class="col-md-4">
                <img class="img-responsive img-thumbnail" id="imgthumb" src="{{imagem_atual}}" alt="" />
            </div>
            <div class="col-md-8">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    <div class="row">
                        {% for field in form %}
                        <div class="form-group">
                                {{ field.label_tag }}
                                {{ field }}
                                {{ field.errors }}
                        </div>
                        {% endfor %}
                    </div>
                    <div class="row text-center">
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Salvar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <hr>
</section>

<script>
    document.getElementById("id_imagem").onchange = function () {
        var reader = new FileReader();
        reader.onload = function (e) {
            document.getElementById("imgthumb").src = e.target.result;
        };
        reader.readAsDataURL(this.files[0]);
    };
</script>
{% endblock conteudo %}
