{% extends "gestorimagens/base.html" %}
{% load staticfiles %}

{% block conteudo %}
<div class="row">
    <div class="col-md-6">
        <form action="{% url 'gestorimagens:catalogo' %}" method="get">
            <label for="featured">Filtrar por: </label>
            <select name="filtrocat">
                <option value=""> Mostrar todas as imagens </option>
                {% for categoria in categorias %}
                <option value={{categoria.id}} {% if categoria.id == catforfilter %} selected {% endif %}> {{categoria.descricao}} </option>
                {% endfor %}
            </select>
            <input type="hidden" name="page" value="{{ imagens.number }}">
            <button type="submit" class="btn btn-primary">Filtrar</button>
        </form>
    </div>
</div>
<hr>
<div class="row">
    <!-- Projects Row -->
    {% for imagem in imagens %}
    {% if forloop.counter|divisibleby:"3" %}
    <div class="row">
        {% endif %}
        <div class="col-md-4 portfolio-item">
            <a href="{{ imagem.imagem }}">
                <img class="img-responsive img-thumbnail mythumbs" src="{{ imagem.thumbnail }}" alt="">
            </a>
            <p class="text-right">
                <a href="{% url 'gestorimagens:cadastro_imagem' pk=imagem.pk %}">
                    <span class="action_icons glyphicon glyphicon-pencil" aria-hidden="true"></span>
                </a>
                <a href="#">
                    <span class="action_icons glyphicon glyphicon-trash" aria-hidden="true"></span>
                </a>
            </p>
            <h4><a href="{{ imagem.imagem }}">{{ imagem.nome }}</a></h4>
            <p>Tamanho: {{ imagem.filesize }}</p>
            <p>{{ imagem.descricao }}</p>
        </div>
        {% if forloop.counter|divisibleby:"3" %}
    </div>
    {% endif %}
    {% endfor %}
</div>
<!-- /.row -->
<!-- Pagination -->
<div class="row text-center">
    <div class="col-lg-12">
        {% if imagens.has_other_pages %}
        <ul class="pagination">
            {% if imagens.has_previous %}
            <li><a href="?page={{ imagens.previous_page_number }}">&laquo;</a></li>
            {% else %}
            <li class="disabled"><span>&laquo;</span></li>
            {% endif %}
            {% for i in imagens.paginator.page_range %}
            {% if imagens.number == i %}
            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
            {% else %}
            <li><a href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
            {% endfor %}
            {% if imagens.has_next %}
            <li><a href="?page={{ imagens.next_page_number }}">&raquo;</a></li>
            {% else %}
            <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
        </ul>
        {% endif %}
    </div>
</div>

{% endblock %}
