{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Zigo Educação - Training Center">
        <meta name="author" content="Zigo Educação">
        <meta name="keywords" content="imagens">
        <title>Gestor de Imagens</title>
        <link rel="shortcut icon" href="images/favicon.png">

        <!-- Main Stylesheet -->
        <link href="{% static 'css/grid.css' %}" rel="stylesheet">
        <link href="{% static 'css/style.css' %}" rel="stylesheet">

        <!-- HTML5 shiv and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
        <![endif]-->

    </head>
    <body>
        <header>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h3 class="text-center">Catálogo de imagens Zigo Educação</h3>
                    </div>
                </div>
            </div>
        </header>
        <div class="container">
            <div class="row">
                {% lorem 2 p %}
            </div>
            <br>
            <div class="row">
                <div class="col-lg-4">
                    <img class="img-responsive img-thumbnail" id="imgthumb" src="" alt="" />
                </div>
                <section>
                    <form method="post" class="form-horizontal" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.non_field_errors }}
                        <div class="row">
                            {% for field in form %}
                                <div class="form-group col-md-6">
                                    {{ field.label_tag }}
                                    {{ field }}
                                    {{ field.errors }}
                                </div>
                            {% endfor %}
                        </div>
                        <div class="row text-center">
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Enviar imagens</button>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
            <hr>
            <div class="row">
                {% for imagem in imagens %}
                    {# Each "contact" is a Contact model object. #}
                    <div class="col-md-3 text-center">
                        <img class="img-responsive img-thumbnail" src="{{ imagem.imagem }}" alt="" />
                    </div>
                    <span> {{ imagem.descricao }}</span>
                {% endfor %}
            </div>
            <hr>
            <div class="row">
                <div class="text-center">
                    <span class="step-links">
                        {% if imagens.has_previous %}
                            <a href="?page={{ imagens.previous_page_number }}"> << </a>
                        {% endif %}

                        <span class="current">
                            Página {{ imagens.number }} of {{ imagens.paginator.num_pages }}.
                        </span>

                        {% if imagens.has_next %}
                            <a href="?page={{ imagens.next_page_number }}"> >> </a>
                        {% endif %}
                    </span>
                </div>
            </div>
        </div>
    </body>
    <script src="{% static 'js/modernizr.custom.97074.js' %}"></script>
    <script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/retina-1.1.0.min.js' %}"></script>
    <script>
        document.getElementById("id_imagem").onchange = function () {
            var reader = new FileReader();
            reader.onload = function (e) {
                // get loaded data and render thumbnail.
                document.getElementById("imgthumb").src = e.target.result;
            };

            // read the image file as a data URL.
            reader.readAsDataURL(this.files[0]);
        };
    </script>
</html>
