{% extends "gestorimagens/base.html" %}
{% load staticfiles %}

{% block conteudo %}

<div class="container">
    <div class="col-lg-12">
        <div class="row">
            <div class="alert alert-danger">Você precisa estar logado para acessar esse site</div>
        </div>
        <div class="row">
            <form class="" method="post">
                {% csrf_token %}
                <fieldset>
                    {{ form.non_field_errors }}
                    {% for field in form %}
                    <div class="form-group">
                        {{ field.label_tag }}
                        {{ field }}
                        {{ field.errors }}
                    </div>
                    {% endfor %}

                    <div class="form-group">
                        <button type="submit" class="btn btn-info">Entrar</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>

{% endblock %}
